.binder {
    border-radius: 50%;
    border: 3px solid black;
    align-self: flex-end;
    height: 6%;
    width: 50%;
    transform: translatex(1em);
}

.binder-container {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}